$white: rgba(255, 255, 255, 1);

$black: rgba(0, 0, 0, 1);
$black25: rgba(36, 36, 36, 1);
$black50: rgba(51, 51, 51, 1);

$gray3: rgba(250, 250, 250, 1);
$gray5: rgba(241, 241, 241, 1);
$gray10: rgba(230, 230, 230, 1);
$gray25: rgba(191, 191, 191, 1);
$gray50: rgba(0, 0, 0, 0.50);