$margin150: 9.375rem;

$margin140: 8.75rem;

$margin100: 6.25rem;

$margin100: 6.25rem;

$margin90: 5.625rem;

$margin80: 5rem;

$margin60: 3.75rem;

$margin50: 3.125rem;

$margin40: 2.5rem;

$margin30: 1.875rem;

$margin20: 1.25rem;

$margin15: 1rem;

$margin10: 0.625rem;

$margin0: 0;