$padding150: 9.375rem;

$padding140: 8.75rem;

$padding100: 6.25rem;

$padding100: 6.25rem;

$padding90: 5.625rem;

$padding80: 5rem;

$padding60: 3.75rem;

$padding50: 3.125rem;

$padding40: 2.5rem;

$padding30: 1.875rem;

$padding20: 1.25rem;

$padding15: 1rem;

$padding10: 0.625rem;

$padding0: 0;